<div class="content-footer">
<!-- <hr class="footer-sep"/> -->
<div class="footer">
  <p>[% "Copyright © 2016, 2017, 2018 Yichun Zhang (agentzh)" %]</p>
  <p>[% "100% Powered by OpenResty and PostgreSQL" %]
     [% "(" %]<a href="https://github.com/openresty/opm/">
     [% "view the source code of this site" %]</a>[% ")" %]</p>
  <p>京ICP备16021991号</p>
</div>
</div>
