<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>OPM - OpenResty Package Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="/js/jquery.min.js"></script>
</head>
<body>
    <div class="content">
        <header class="header">
        [% PROCESS "nav.tt2" %]
        </header>

        <main class="main_page">
            [% main_html %]
        </main>
    </div>

    <div class="footer">
    [% PROCESS "footer.tt2" %]
    </div>

[% PROCESS "analytics.tt2" %]
</body>
</html>
