
<div class="main_col">
<div class="split_header">
    <h2>Sign In</h2>
</div>

<div class="sign-in">
    <a class="button" href="[% github_login_url | html %]">Sign in with Github</a>
</div>

</div>
